.review-item
    font-family Arial
    text-align left
    padding-left 25%
    padding-right 25%
    font-size 18px
    padding-bottom 30px
    &__name
        padding-bottom 1%
    &__date
        color red
        font-style italic
        padding-bottom 1%
    &__text
        padding-bottom 1%