.form-review
    font-size 18px
    font-family Arial
    padding-left 25%
    padding-right 25%
    &__group-input
        &__name
            float left
            font-size 18px
            text-align center
        &__mail
            font-size 18px
            float right
            text-align center
        &__comment
            margin-top 10px
            width 100%
            height 80px
    &__caption
        text-align center
    &__group-button
        display inline-flex
    &__checkbox
        flex-direction column
        display flex
    &__radio
        flex-direction column
        display flex
    &__sendComment
        display flex
        justify-content flex-end 