.services
    display flex
    flex-flow row wrap
    justify-content space-around
    &__item
        font-family Arial
        border 1px solid black
        border-radius 5px
        font-size 18px
        width 17%
        height 50px
        padding 10px
        margin-right 36px
        text-align center
        text-decoration none
        color black
        margin-bottom 70px
        padding-top 13%
        &_repairs
             background url("../img/fg-1.png") 50% 20% no-repeat
        &_mounting
            background url("../img/fg-2.png") 50% 20% no-repeat
        &_repairSuspension
            background url("../img/fg-3.png") 50% 20% no-repeat
        &_repairsBox
            background url("../img/fg-4.png") 50% 20% no-repeat
        &_changeOil
            background url("../img/fg-5.png") 50% 20% no-repeat
        &_bodyRepair
            background url("../img/fg-6.png") 50% 20% no-repeat
        &_carWash
            background url("../img/fg-7.png") 50% 20% no-repeat

        &:hover
            cursor pointer