.blocks{
    margin: 10% 30%;
    display: inline-flex;
}
.block{
    width: 200px;
    height: 200px;
    margin: 50px 10px;
}
.block1{
    background-color: red;
}
.block2{
    background-color: green;
}
.block3{
    background-color: orange;
}