.header
    display flex
    height 525px
    &__wrapper
        display inline-block
        &_position
            &_left
                width 18.5%
            &_center
                width 64.9%
                display flex
                justify-content center
                flex-direction column
                margin-top 4%
                font-family Arial
            &_right
                width 16.6%
                height 100%
                display flex
                margin-top 5%
    &__logo
        margin 15% 15%