.menu  
    width 100%
    height 35px
    background-color #000000
    padding-top 10px
    position fixed
    z-index 1000
    top 550px
    &__link
        color #ffffff
        font-family Arial
        text-decoration none
        padding-left 13%
        font-size 18px
        &_triangle
            background url('../img/triangle.png') 100% no-repeat
        &:hover
            color red